.mainContainer {
  position: relative;
  margin: auto;
  padding-left: 400px;
}

.mainButton {
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 400px;
  right: 0;
}

.mainCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}